.player-container {
    z-index         : 999;
    display         : flex;
    justify-content : space-between;
    height          : 100%;
    bottom          : 0;
    width           : 100%;
    position        : sticky;
    padding         : 1rem 0px;
    padding-left    : 1.25rem;
    padding-right   : 1.25rem;
    background-color: #f2f2f2;
    border-top      : 1px solid #cecece;

    .player-left {
        margin-top : auto;
        align-items: center;
        width      : 30%;
        flex       : 1 1 auto;
        display    : flex;

        .info {
            display       : flex; // Hiển thị các phần tử con theo hướng ngang
            flex-direction: column;

            .song-name {
                font-weight: 700;
            }

            .song-username {
                font-weight: 500;

                &:hover {
                    cursor: pointer;
                }
            }

            span {
                margin-left: 10px; // Tạo khoảng cách giữa các phần tử
            }
        }

        i {
            font-size   : 16px;
            padding-left: 8px;
            margin-left : 2rem;
        }

        img {
            padding  : 16px 0px 16px 4px;
            max-width: 104px; // Điều chỉnh kích thước ảnh theo nhu cầu
        }
    }

    .player-center {
        align-items    : center;
        display        : flex;
        flex           : 1 1 auto;
        flex-direction : column;
        justify-content: center;
        width          : 40%;
        gap            : 4px;

        .player-action {
            display      : flex;
            gap          : 50px;
            align-items  : center;
            justify-items: center;

            span {
                opacity: 0.7;
                cursor : pointer;

                &:hover {
                    opacity: 1;
                }
            }

            .play-btn {
                font-size: 32px;

            }

            .repeat1 {
                &::before {
                    content  : "1";
                    font-size: 8px;
                    position : relative;
                    right    : -17px;
                }
            }
        }

        .progress {
            width           : 100%;
            background-color: #f2f2f2;
            display         : flex;
            justify-content : center;
            gap             : 5px;
            justify-items   : center;

            .time-left {}

            .time-right {}

            .progress-down {
                background   : rgba(0, 0, 0, 0.1);
                height       : 4px;
                width        : 75%;
                position     : relative;
                border-radius: 10px 10px 10px 10px;
                cursor       : pointer;

                &:hover {
                    cursor: pointer;
                    height: 8px;
                }

                .progress-up {
                    border-radius: 10px 10px 10px 10px;
                    position     : absolute;
                    left         : 0;
                    background   : #0e8080;
                    top          : 0;
                    bottom       : 0;
                }
            }
        }
    }

    .player-right {
        width          : 30%;
        display        : flex;
        align-items    : center;
        justify-content: flex-end;
        gap            : 1.5rem;
        font-size      : 1.3rem;

        .volume {
            i {
                cursor: pointer;
            }

            input {
                margin-left: 0.5rem;
                height     : 0.8rem;
                cursor     : pointer;
            }
        }

        .album {
            margin-right: 1.5rem;
            position    : relative;
            cursor      : pointer;
        }
    }
}