.album-container{
    display: flex;
    gap: 8;
    width: 100%;
    padding: 50px 0px 50px 0px;

    .album-content-left{
        .thumbnail{

        }
        .info{
            .name{

            }
        }
    }
}