.album-container {
    position: relative;
    top     : 9px;
    gap     : 8;
    width   : 80%;
    margin  : auto;
    padding : 50px 0px 50px 0px;
    height  : 1000px;

    .album-banner {
        width  : 100%;
        height : 30rem;
        display: flex;

        .album-banner-left {
            width   : 55%;
            position: relative;



            .album-info-up {
                display        : flex;
                justify-content: flex-start;
                align-items    : flex-start;


                .play {
                    cursor: pointer;
                    margin: 2rem;
                    width : 3rem;

                    i {

                        font-size    : 4rem;
                        border-radius: 6rem;

                        &::after {
                            color: white;
                        }

                    }

                }

                .title-artist {
                    margin          : 2rem 0;
                    background-color: black;
                    text-align      : left;
                    display         : grid;

                    .title {
                        display         : flex;
                        align-items     : center;
                        background-color: black;
                    }

                    .artist {
                        background-color: black;
                        color           : white;
                    }
                }
            }

            .album-info-down {
                position        : absolute;
                display         : flex;
                justify-content : center;
                text-align      : center;
                align-items     : center;
                margin          : 4rem;
                border-radius   : 4rem;
                bottom          : 0;
                width           : 8rem;
                height          : 8rem;
                flex-direction  : column;
                background-color: black;
                color           : white;

                .song-count {
                    font          : 12px / 1.4 Inter, sans-serif;
                    line-height   : 0.8rem;
                    font-weight   : bold;
                    text-transform: uppercase;

                    .total-song {
                        font-size: 3rem;
                    }
                }

                .total-time {
                    opacity: 0.4;
                }
            }
        }

        .album-banner-center {
            width: 10%;

            .create-at {
                text-align : right;
                margin     : 2rem;
                width      : 10rem;
                height     : 2rem;
                color      : #fff;
                font-family: Inter, sans-serif;
                font-weight: 100;
                font-size  : 16px;
            }
        }

        .album-banner-right {
            width          : 35%;
            display        : flex;
            justify-content: flex-end;
            align-items    : flex-end;

            .album-thumbnail {
                width : 78%;
                height: 86.6%;
                margin: 2rem;
            }
        }


    }



    .album-content-left {
        display       : flex;
        flex-direction: column;
        align-items   : center;
        gap           : 2;
        width         : 25%;
        flex-grow     : 0;
        flex-shrink   : 0;

        .thumbnail {
            width        : 100%;
            object-fit   : contain;
            border-radius: 4px;
            box-shadow   : 0 4px 4px rgba(0, 0, 0, 0.15);
        }

        .info {
            display       : flex;
            flex-direction: column;
            align-items   : center;

            .name {
                font-size: 20px;
                color    : #2D3748;
                font     : bold;
            }

            .create {
                display    : flex;
                gap        : 2;
                align-items: center;
                color      : #2D3748;
                font-size  : 0.75rem;
            }

            .artist,
            .liked {
                display    : flex;
                gap        : 2;
                align-items: center;
                color      : #808080;
                font-size  : 0.75rem;
            }
        }

        .btn-follow {
            width: 75px !important;
        }

        .btn-followed {
            width: 87px !important;
        }
    }

    .album-content {
        position: relative;

        .left {
            .album-action {
                width        : 68%;
                height       : 4rem;
                margin       : 0 auto;
                display      : inline-block;
                border-bottom: 1px solid #f2f2f2;

                .like {
                    margin          : 1rem;
                    position        : relative;
                    height          : 26px;
                    padding         : 2px 11px 2px 10px;
                    border          : 1px solid #e5e5e5;
                    border-radius   : 3px;
                    background-color: #fff;
                    cursor          : pointer;
                    color           : #333;
                    font-size       : 14px;
                    line-height     : 20px;
                    white-space     : nowrap;
                    font-family     : Inter, sans-serif;
                    font-weight     : 100;
                    text-align      : center;
                    display         : flex;
                    float           : left;

                    span {
                        padding-right: 0.4rem;
                    }

                    &:hover {
                        border: 1px solid black;
                    }
                }

                .liked {
                    margin          : 1rem;
                    height          : 26px;
                    padding         : 2px 11px 2px 10px;
                    border-radius   : 3px;
                    background-color: #fff;
                    cursor          : pointer;
                    color           : #333;
                    font-size       : 14px;
                    line-height     : 20px;
                    white-space     : nowrap;
                    font-family     : Inter, sans-serif;
                    font-weight     : 100;
                    text-align      : center;
                    opacity         : 0.5;
                    display         : block;
                    float           : right;

                    span {
                        padding-right: 0.4rem;
                    }
                }
            }

            .album-info {
                display: flex;
                height : 100%;
                width  : 68%;

                .album-content-left {
                    height: 100%;

                    .album-info-avatar {
                        margin-top   : 1rem;
                        border-radius: 4rem;
                        height       : 8rem;
                        width        : 8rem;
                        box-shadow   : inset 0 0 0 1px rgba(0, 0, 0, .1);

                    }

                    .album-info-name {}

                    .album-info-quantity {
                        color: #999;
                    }

                    .album-info-btn-follow {
                        .btn-follow {
                            background-color: #f50;
                            border-color    : #f50;
                            color           : #fff;
                            cursor          : pointer;
                            border-radius   : 3px;
                            font-weight     : 100;
                            white-space     : nowrap;
                            font-size       : 11px;
                            padding         : 2px 9px 2px 8px;
                            height          : 22px;
                            line-height     : 16px;
                        }

                    }
                }

                .album-content-center {
                    width: 100%;


                    .list-song {
                        height        : 3.5rem;
                        width         : 100%;
                        display       : flex;
                        flex-direction: row;
                        align-items   : center;
                        padding-left  : 1rem;
                        border-bottom : 1px solid #f2f2f2;

                        .track-avatar {
                            width : 2.5rem;
                            height: 2.5rem;
                        }

                        .track-number {
                            padding    : 1rem;
                            font-weight: 100;
                            color      : #999;
                        }


                        .artist-info {
                            height     : 49px;
                            line-height: 49px;
                            width      : 37rem;

                            .track-artist {
                                color: #999;
                            }

                            .track-name {
                                font-weight: 100;
                                font-family: Inter, sans-serif;
                            }
                        }

                        .track-play {
                            color: #999;
                        }

                        &:hover {
                            background-color: #f2f2f2;
                        }

                    }
                }
            }
        }

        .album-content-right {
            position   : absolute;
            top        : 0px;
            left       : 70%;
            width      : 30%;
            border-left: 1px solid #f2f2f2;
            height     : 100%;

            .relative-album {
                .title-relative {
                    display      : block;
                    font-weight  : 100;
                    color        : #999;
                    border-bottom: 0.5px solid #f2f2f2;

                    .icon {
                        margin: 1rem;
                        float : left;
                        height: 2rem;
                        width : 2rem;
                    }

                    .view-all {
                        float : right;
                        margin: 0 1rem;
                        cursor: pointer;

                        &:hover {
                            color: black;
                        }
                    }

                    line-height: 4rem;
                    height     : 4rem;
                    width      : 100%;
                }

                .content-relative {
                    width            : 100%;
                    height           : 100%;
                    // display       : flex;
                    // flex-direction: row;
                    // align-items   : center;

                    .user-album {

                        margin-top : 1rem;
                        display    : flex;
                        margin-left: 0rem;
                        align-items: center;
                        width      : 100%;
                        height     : 5rem;

                        .round-user-album-th {
                            height     : 5rem;
                            position   : relative;
                            margin-left: 1rem;
                            width      : 20%;

                            .user-album-thumbnail {
                                position: absolute;
                                right   : 7px;
                                top     : 7px;
                                width   : 4rem;
                                height  : 4rem;
                            }
                        }

                        .user-album-info {
                            width      : 80%;
                            height     : 5rem;
                            margin-left: 1rem;

                            .artist {
                                color: #999;
                            }

                            .user-album-name {
                                white-space  : nowrap;
                                text-overflow: ellipsis;
                                word-break   : normal;
                                font-weight  : 100;
                                color        : #333;
                            }

                            .user-album-liked {
                                color: #999;
                            }
                        }

                    }
                }
            }

        }

    }


}

.album-player {
    position: sticky;
    bottom  : 0;
}