.profile-liked-tracks {
    width      : 100%;
    font-family: Inter, sans-serif;

    .spotlight {
        h2 {
            font-size  : 24px;
            font-weight: 100;
        }

        .spotlight-header {}

        .spotlight-content {
            .content {
                display: flex;

                .image {
                    display: block;
                    width  : 160px;
                    height : 160px;
                }

                .details {
                    margin-left: 15px;
                    width      : 78%;

                    .sound-title {
                        .sound-header {
                            display: flex;
                            height : 100%;
                            flex   : 1;
                            width  : 100%;

                            .play-btn {
                                align-items    : center;
                                display        : flex;
                                justify-content: center;
                                width          : 36px;
                                height         : 36px;

                                .play {

                                    i {
                                        font-size: 2.5rem;
                                    }
                                }
                            }

                            .name {
                                margin-left: 5px;
                                width      : 80%;



                                .artist {


                                    a {
                                        text-decoration: none;
                                        color          : #999;
                                    }
                                }

                                .name-song {
                                    font-size      : 15px;
                                    line-height    : 1.2;
                                    color          : #333;
                                    font-weight    : 100;
                                    text-decoration: none;
                                }
                            }

                            .time-make {
                                width          : 14%;
                                display        : flex;
                                justify-content: flex-end;
                                margin-right   : 5px;
                                color          : #ccc;
                                font-size      : 12px;
                                font-weight    : 100;
                                line-height    : 16px;
                            }
                        }
                    }

                    .sound-wave {
                        height: 50%;

                        div {}
                    }

                    .actions {
                        height: 24%;

                        .actions-container {
                            height : 100%;
                            display: flex;

                            .like {
                                display         : flex;
                                position        : relative;
                                height          : 26px;
                                padding         : 2px 11px 2px 10px;
                                border          : 1px solid #e5e5e5;
                                border-radius   : 3px;
                                background-color: #fff;
                                cursor          : pointer;
                                color           : #333;
                                font-size       : 14px;
                                line-height     : 20px;
                                white-space     : nowrap;
                                font-family     : Inter, sans-serif;
                                font-weight     : 100;
                                text-align      : center;

                                p {
                                    margin-left: 5px
                                }
                            }

                            .delete {
                                display         : flex;
                                position        : relative;
                                height          : 26px;
                                padding         : 2px 11px 2px 10px;
                                border          : 1px solid #e5e5e5;
                                border-radius   : 3px;
                                background-color: #fff;
                                cursor          : pointer;
                                color           : #333;
                                font-size       : 14px;
                                line-height     : 20px;
                                white-space     : nowrap;
                                font-family     : Inter, sans-serif;
                                font-weight     : 100;
                                text-align      : center;
                                margin-left     : 12px;
                                justify-content : center;

                                &:hover {
                                    color       : #333;
                                    outline     : 0;
                                    border-color: #ccc;
                                }

                                .btn-delete {}
                            }
                        }
                    }
                }
            }
        }
    }
}