.profile-container {
    margin        : auto;
    position      : relative;
    top           : 60px;
    display       : flex;
    flex-direction: column;
    width         : 80%;
    font-family   : Inter, sans-serif;
    height        : 4000px;

    .profile-banner {
        display         : flex;
        align-items     : center;
        justify-content : space-between;
        padding         : 1rem;
        background-color: #f0f2f5;
        height          : 260px;

        &:hover {
            cursor: pointer;
        }

        .profile-right {
            display: flex;

            .profile-avatar {
                width          : 200px;
                height         : 200px;
                border-radius  : 50%;
                position       : relative;
                display        : flex;
                justify-content: center;
                align-items    : center;

                .btn-upload-avatar {
                    width     : 130px;
                    height    : 26px;
                    position  : absolute;
                    cursor    : pointer;
                    bottom    : 13px;
                    text-align: center;

                    .lb-upload-avatar {
                        background-color: hsla(0, 0%, 100%, .8);
                        border-color    : rgba(0, 0, 0, .1);
                        background-clip : padding-box;
                        transition      : background-color .2s ease-in-out, border-color .2s ease-in-out;
                        display         : inline-block;
                        position        : relative;
                        height          : 26px;
                        margin          : 0;
                        padding         : 2px 11px 2px 10px;
                        border          : 1px solid #e5e5e5;
                        border-radius   : 3px;
                        background-color: #fff;
                        cursor          : pointer;
                        color           : #333;
                        font-size       : 14px;
                        line-height     : 20px;
                        white-space     : nowrap;
                        font-family     : Inter, sans-serif;
                        font-weight     : 100;
                        text-align      : center;
                        vertical-align  : initial;
                        box-sizing      : border-box;

                        &:hover {
                            background-color: #fff;
                            border-color    : rgba(0, 0, 0, .3);
                        }
                    }

                }


            }

            .profile-name {
                max-width: 500px;

                .around-name {
                    background-color: rgba(0, 0, 0, .8);
                    width           : fit-content;

                    .name {
                        font-size  : 24px;
                        padding    : 0 4px;
                        color      : #fff;
                        font-weight: 100;
                    }
                }


                .description {
                    font-size: 24px;

                    background-color: rgba(0, 0, 0, .8);
                    padding         : 0 4px;
                    color           : #fff;
                    font-weight     : 100;
                    max-width       : 500px;
                }

            }
        }

    }


    .upload-header {
        width : 18%;
        height: 100%;

        .btn-upload-header {
            width   : 100%;
            height  : 30px;
            cursor  : pointer;
            padding : 17px;
            position: relative;
            display : inline-block;

            &:hover {
                .tooltiptext {
                    visibility: visible;
                    opacity   : 1;
                }
            }

            .lb-upload-header {
                background-color: hsla(0, 0%, 100%, .8);
                border-color    : rgba(0, 0, 0, .1);
                background-clip : padding-box;
                transition      : background-color .2s ease-in-out, border-color .2s ease-in-out;
                display         : inline-block;
                position        : relative;
                height          : 26px;
                margin          : 0;
                padding         : 2px 11px 2px 10px;
                border          : 1px solid #e5e5e5;
                border-radius   : 3px;
                background-color: #fff;
                cursor          : pointer;
                color           : #333;
                font-size       : 14px;
                line-height     : 20px;
                white-space     : nowrap;
                font-family     : Inter, sans-serif;
                font-weight     : 100;
                text-align      : center;
                vertical-align  : initial;
                box-sizing      : border-box;

                &:hover {
                    background-color: #fff;
                    border-color    : rgba(0, 0, 0, .3);

                    .tooltiptext {
                        visibility: visible;
                        opacity   : 1;
                    }
                }

            }

            .tooltiptext {
                visibility      : hidden;
                width           : 250px;
                background-color: #f9f9f9;
                color           : #333;
                text-align      : left;
                border-radius   : 5px;
                padding         : 10px;
                position        : absolute;
                z-index         : 1;
                bottom          : auto;
                top             : 150%;
                left            : 0;
                margin-left     : -125px;
                box-shadow      : 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
                font-size       : 14px;
                line-height     : 1.4;

                &::after {
                    content     : "";
                    position    : absolute;
                    top         : -10%;
                    /* At the bottom of the tooltip */
                    left        : 70%;
                    margin-left : -5px;
                    border-width: 5px;
                    border-style: solid;
                    border-color: transparent transparent #f9f9f9 transparent;
                }
            }
        }
    }


}

.profile-middle {
    display        : flex;
    align-items    : center;
    justify-content: space-between;
    padding        : 1rem 0rem 0 0rem;
    border-bottom  : 1px solid #f2f2f2;
    margin         : 0px 1rem;

    .profile-item {
        display: flex;

        ul {
            margin    : 0;
            padding   : 0;
            list-style: none;
            display   : flex;
            font-size : 18px;

            li {
                padding: 0.5rem 1rem;
                cursor : pointer;
                color  : #000;
                margin : 0 10px;

                /* Text color for navigation links */
                /* Add hover effect here */
                &:hover {
                    border-bottom: 1px solid #161616;
                }

                &:active {
                    border-color: #f50;
                    color       : #f50;
                    cursor      : default;
                }
            }
        }

        .profile-list-item {
            .m-active {
                border-color : #f50;
                color        : #f50;
                cursor       : default;
                border-bottom: 2px solid #f50;
            }
        }
    }

    .actions {
        display: flex;

        .btn-follow-container {
            .btn-follow {
                width: 75px !important;
            }

            .btn-followed {
                width: 90px !important;
            }
        }

        .btn-edit {

            display         : inline-block;
            position        : relative;
            height          : 26px;
            margin          : 0;
            padding         : 2px 11px 2px 10px;
            border          : 1px solid #e5e5e5;
            border-radius   : 3px;
            background-color: #fff;
            cursor          : pointer;
            color           : #333;
            font-size       : 14px;
            line-height     : 20px;
            white-space     : nowrap;
            font-family     : Inter, sans-serif;
            font-weight     : 100;
            text-align      : center;
            vertical-align  : initial;
            width           : 70px;

            &:hover {
                color       : #333;
                outline     : 0;
                border-color: #ccc;
            }

            span {
                /* Add desired color here */
                color: #000;
            }
        }

        .btn-upload {

            display         : inline-block;
            position        : relative;
            height          : 26px;
            margin          : 0;
            padding         : 2px 11px 2px 10px;
            border          : 1px solid #e5e5e5;
            border-radius   : 3px;
            background-color: #fff;
            cursor          : pointer;
            color           : #333;
            font-size       : 14px;
            line-height     : 20px;
            white-space     : nowrap;
            font-family     : Inter, sans-serif;
            font-weight     : 100;
            text-align      : center;
            vertical-align  : initial;
            width           : 81px;
            margin-left     : 12px;

            &:hover {
                color       : #333;
                outline     : 0;
                border-color: #ccc;
            }

            span {
                /* Add desired color here */
                color: #000;
            }
        }
    }

}

.profile-content {
    padding: 1rem;
    display: flex;

    .profile-content-left {
        width: 75%;
    }

    .profile-content-right {
        width: 25%;

        .content-right {
            width: 100%;

            .header {
                .table-stat {
                    width: 100%;

                    .info-stat {
                        width: 33.3%;
                        color: #999;

                        a {
                            h3 {
                                font-family: Inter, sans-serif;
                                font-weight: 100;
                                font-size  : 16px;
                            }

                            font-size: 16px;
                        }

                        text-align : center;
                    }
                }

            }

            .profile-liked-song {
                margin     : 0 19px;
                margin-top : 55px;
                font-family: Inter, sans-serif;

                .liked-song-stat {
                    border-bottom: 1px solid #e5e5e5;

                    .link-liked-song {
                        display        : flex;
                        text-decoration: none;
                        color          : #999;
                        align-items    : center;
                        line-height    : 24px;
                        font-weight    : 100;


                        div {
                            display    : flex;
                            align-items: center;
                            height     : 100%;
                            width      : 70%;
                            gap        : 10px;

                            span {
                                font-size: 16px;
                            }
                        }

                        .view-all {
                            font-size : 16px;
                            width     : 30%;
                            text-align: right;

                            &:hover {
                                color: #333;
                            }
                        }
                    }

                }

                .list-liked-song {
                    margin-top: 20px;
                    font      : Inter, sans-serif;

                    .list {
                        .liked-song {
                            display      : flex;
                            height       : 50px;
                            width        : 100%;
                            margin-bottom: 20px;

                            .liked-song-img {
                                width: 20%;

                                .img {
                                    width  : 50px;
                                    height : 50px;
                                    opacity: 1;
                                }
                            }


                            .details {
                                width     : 80%;
                                max-height: 50px;
                                margin    : 0 !important;

                                .name {
                                    .artist-name {
                                        line-height  : 14px;
                                        margin       : 0 !important;
                                        overflow     : hidden;
                                        white-space  : nowrap;
                                        text-overflow: ellipsis;
                                        word-break   : normal;
                                        color        : #999;
                                        font-weight  : 100;
                                    }

                                    .song-name {
                                        margin       : 0 !important;
                                        overflow     : hidden;
                                        white-space  : nowrap;
                                        text-overflow: ellipsis;
                                        word-break   : normal;
                                        font-weight  : 100;
                                    }
                                }

                                .count-like {
                                    display    : flex;
                                    align-items: center;
                                    color      : #999;
                                    font-weight: 100;

                                    i {
                                        margin-right: 5px;
                                    }

                                    p {
                                        margin: 0 !important;
                                    }
                                }
                            }
                        }
                    }
                }

                .follower-container {
                    margin-top: 35px;

                    .follower-stat {
                        border-bottom: 1px solid #e5e5e5;

                        .link-follower {
                            display        : flex;
                            text-decoration: none;
                            color          : #999;
                            align-items    : center;
                            line-height    : 24px;
                            font-weight    : 100;

                            i {
                                margin-right: 5px;
                            }

                            div {
                                display    : flex;
                                align-items: center;
                                height     : 100%;
                                width      : 70%;
                                gap        : 10px;

                                span {
                                    font-size: 16px;
                                }
                            }

                            .view-all {
                                font-size : 16px;
                                width     : 30%;
                                text-align: right;

                                &:hover {
                                    color: #333;
                                }
                            }
                        }

                    }

                    .list-follower {
                        margin-top: 20px;
                        font      : Inter, sans-serif;

                        .list {
                            .follower {
                                display      : flex;
                                height       : 50px;
                                width        : 100%;
                                margin-bottom: 20px;
                                align-items  : center;

                                .follower-img {
                                    width: 20%;

                                    .img {
                                        width  : 50px;
                                        height : 50px;
                                        opacity: 1;
                                    }
                                }


                                .details-follower {
                                    width     : 80%;
                                    max-height: 50px;
                                    margin    : 0 !important;

                                    .name {
                                        .follower-name {
                                            line-height  : 14px;
                                            margin       : 0 !important;
                                            overflow     : hidden;
                                            white-space  : nowrap;
                                            text-overflow: ellipsis;
                                            word-break   : normal;
                                            color        : #333;
                                            font-weight  : 100;
                                        }

                                        .details {
                                            width      : 100%;
                                            display    : flex;
                                            align-items: center;
                                            color      : #999;

                                            .detail-track {
                                                display    : flex;
                                                align-items: center;
                                                width      : 65%;

                                                a {
                                                    display: block;
                                                    width  : 16px;
                                                    height : 12px;
                                                }

                                                .count-track {
                                                    margin       : 0 !important;
                                                    overflow     : hidden;
                                                    white-space  : nowrap;
                                                    text-overflow: ellipsis;
                                                    word-break   : normal;
                                                    font-weight  : 100;
                                                }
                                            }


                                        }

                                    }


                                }
                            }
                        }
                    }
                }
            }
        }
    }
}