.home-header-container {
    height          : 60px;
    width           : 100%;
    padding         : 0px 40px;
    position        : fixed;
    top             : 0;
    background-color: #333;
    z-index         : 10000;
    color           : white;
    font-family     : Inter, sans-serif;
    font-weight     : 100;
    font-size       : 14px;

    .home-header-content {
        width          : 100%;
        height         : 100%;
        display        : flex;
        justify-content: space-evenly;
        align-items    : center;

        .left-content {
            width             : 37%;
            display           : flex;
            // justify-content: space-between;
            // align-items    : center;
            height            : 60px;

            .child-content {
                line-height : 60px;
                height      : 60px;
                width       : 120px;
                text-align  : center;
                border-right: 1px solid #111;
                opacity     : 0.7;

                &:hover {
                    opacity         : 1;
                    background-color: #373131;
                    cursor          : pointer;
                }

                .subs-title {
                    font-weight: 400;
                    font-size  : 12px;
                }
            }

            .header-logo {
                //background     : url('../../assets/logo.svg') center center no-repeat;
                cursor: pointer;
            }

            i {
                font-size: 25px;
                color    : grey;
                cursor   : pointer;
            }
        }

        .center-content {
            padding        : 0 20px;
            width          : 20%;
            display        : flex;
            justify-content: space-between;
            align-items    : center;
            margin-left    : -3rem;



            .search-header {
                width          : fit-content;
                display        : flex;
                justify-content: center;
                align-items    : center;
                margin         : 0 auto;
                padding        : 10px;
                border-radius  : 1rem;
                background     : white;

                i {
                    margin: 0 5px;
                    color : black;
                    cursor: pointer;
                }

                input {
                    height    : 0.01rem;
                    width     : 14rem;
                    background: transparent;
                    border    : none;
                    outline   : none;
                    padding   : 10px 0;
                }

            }
        }

        .right-content {
            width          : 30%;
            display        : flex;
            justify-content: flex-end;
            align-items    : center;

            .child-content {
                line-height : 60px;
                height      : 60px;
                width       : 100px;
                text-align  : center;
                border-right: 1px solid #111;
                border-left : 1px solid #111;
                opacity     : 0.7;

                .profile {}

                &:hover {
                    opacity         : 1;
                    background-color: #373131;
                    cursor          : pointer;
                }
            }

            .language-vn {
                margin-left  : 10px;
                opacity      : 0.3;
                cursor       : pointer;
                padding-right: 10px;

                &.active {
                    opacity: 1;
                    color  : #49bce2;
                }

                &:hover {
                    opacity: 1;
                }
            }

            .language-en {
                opacity: 0.3;
                cursor : pointer;

                &.active {
                    opacity: 1;
                    color  : #f7d800;
                }

                &:hover {
                    opacity: 1;
                }
            }

            .login-logout {

                margin-left  : 20px;
                cursor       : pointer;
                border       : 1px;
                padding      : 5px;
                padding-right: 10px;

                span {
                    opacity: 0.3;

                    &:hover {
                        opacity: 1;
                    }
                }

            }
        }
    }
}

.home-header-banner {
    background         : url('../../assets/banner.jpg');
    height             : 485px;
    background-repeat  : no-repeat;
    background-size    : cover;
    background-position: center;
    display            : flex;
    flex-direction     : column;

    .content-up {
        background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(255, 255, 255, 0.1));
        padding-top     : 15px;
        height          : 65%;

        .header-banner-title1 {
            text-align   : center;
            font-size    : 30px;
            text-shadow  : 1px 1px 1px #333;
            margin-bottom: 5px;
            margin-top   : 46px;
            color        : white;
        }

        .header-banner-title2 {
            text-align   : center;
            font-size    : 30px;
            text-shadow  : 1px 1px 1px #333;
            color        : white;
            margin-bottom: 15px;
        }

        .search {
            width          : fit-content;
            display        : flex;
            justify-content: center;
            align-items    : center;
            margin         : 0 auto;
            padding        : 10px;
            border-radius  : 25px;
            background     : #f7d800;

            i {
                margin: 0 5px;
            }

            input {
                height    : 30px;
                width     : 360px;
                background: transparent;
                border    : none;
                outline   : none;
                padding   : 10px 0;
            }

        }
    }

    .content-down {
        height          : 35%;
        justify-content : center;
        display         : flex;
        align-items     : flex-end;
        background-image: linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9));
        padding-bottom  : 10px;

        .options {
            text-align     : center;
            display        : flex;
            justify-content: center;
            gap            : 50px;

            .option-child {


                .icon-child {
                    background   : white;
                    width        : 40px;
                    height       : 40px;
                    padding      : 10px;
                    border-radius: 50%;
                    text-align   : center;
                    margin       : 0 auto;


                }

                .text-child {
                    border     : 1px;
                    font-size  : 15px;
                    font-weight: 500;
                    cursor     : pointer;

                    &:hover {
                        color: #49bce2;
                    }
                }
            }
        }
    }

}